@charset "UTF-8";

body {
    margin: 0;
    padding: 0;
    background-color: lightblue;
}

header {
    height: 7vh;
    background-color: dodgerblue;

}

header a {
    display: inline-block;
    padding: 1%;
    float: right;
    display: inline-block;
}

header a:hover {
    background-color: #3F9EFB;
}

#exit {
    float: left;
    margin-left: 1%;
}

.headerButton {
    background-color: #e88312;
    float: left;
    color: #d3e6e8;
}

.headerButton:hover {
    background-color: #e85f00;
}

.profileSigh {
    background-color: #cee8db;
    border-radius: 50%;
    float: left;
    color: #0300e8;
    margin-left: 1%;
}

.profileSigh:hover {
    background-color: #cee8db;
    border-radius: 50%;
    float: left;
    color: #0300e8;
    margin-left: 1%;
}

a {
    text-decoration: none;

}

.mainBlock {
    width: 30%;
    background-color: darkcyan;
    padding: 1%;
    border: 5px solid silver;
    border-radius: 5px;
    margin: 20px auto;
}

#blockTitle {
    width: 98%;
    margin: 0 auto;
    text-align: center;
    font-size: inherit;
    font-family: "Inconsolata";
    padding: 1%;
    background-color: aliceblue;
    border: 2px solid aqua;
}

.field, .error {
    padding-left: 2%;
    margin-bottom: 3%;
    width: 96%;
    height: 4vh;
    /*font-size: 1.5em;*/
    font-size: inherit;
    font-family: "Inconsolata";
    background-color: lightyellow;
    border: 1px solid #211000;
    border-radius: 5px;
}

.field:focus {
    border: 2px solid darkblue;
    box-shadow: #80817c;
    border-radius: 5px;
}

.field #name, .field #sername {
    width: 48%;
}

label {
    margin-left: 2%;
    font-size: large;
    font-family: "Rachana";
}

div {
    background-color: #3F9EFB;
}

.blockField {
    width: 98%;
    padding: 1%;
    background-color: cadetblue;
    border: 2px solid darkgray;
    margin: 0 auto;
}

.button {
    border: solid 1px #da7c0c;
    background: #f78d1d;
    background: -moz-linear-gradient(top, #faa51a, #f47a20);
    color: #fff;
    padding: 7px 12px;
    -webkit-border-radius: 4px;
    moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    width: auto;
    height: 15%;
    font-size: 16px;
    /*margin: 15px 15px;*/
    float: right;
    /*margin-bottom: */
    margin-top: 15px;
}

.button:hover {
    background: #f47c20;
    background: -moz-linear-gradient(top, #f88e11, #f06015);
}

p a {
    color: #3531A8;
    text-decoration: underline;
}
.regText {
    margin-top: 15px;
    margin-left: 15px;
    display: inline-block;
}

.error {
    border: 2px solid red;
    background-color: #fbfff6;
}

#mainProfileBlock {
    width: 40%;
    height: 90vh;
    background-color: #52a9ff;
    border-radius: 15px;
    margin: 5px auto;
}

.profile {
    background-color: #8ec5ff;
    display: inline-block;
    margin: 2%;
    border-radius: 10px;
}

#avatarProfileBlock, #baseProfileBlock {
    width: 300px;
    height: 300px;
}
#baseProfileBlock {
    float: right;
}

#baseProfileBlock label {
}
#avatarProfileBlock img {
    display: inline-block;
    width: 96%;
    height: 96%;
    padding: 2%;
}

#othersProfileBlock {
    width: 94%;
    height: 43vh;
}

